<!DOCTYPE html>
{% load static %}
<html>
<title>John Tucker</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .vid {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("{% static 'images/skiing.jpg' %}");
  min-height: 500px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("{% static 'images/contact.jpg' %}");
  min-height: 500px;
}

/* Make the image fully responsive */
.carousel-inner img {
      width: 100%;
      height: 100%;
  }

.logo{
  overflow:visible; 
}

.video {
  min-height: 100%;
  width: 100%;
}  

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

#message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#home" class="w3-bar-item w3-button w3-text-white">HOME</a>
    <a href="#about" class="w3-bar-item w3-button w3-hide-small w3-text-white"><i class="fa fa-user"></i> ABOUT</a>
    <a href="#portfolio" class="w3-bar-item w3-button w3-hide-small w3-text-white"><i class="fa fa-th"></i> PORTFOLIO</a>
    <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-text-white"><i class="fa fa-envelope"></i> CONTACT</a>

    </a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
    <a href="#portfolio" class="w3-bar-item w3-button" onclick="toggleFunction()">PORTFOLIO</a>
    <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
  </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="w3-display-container w3-opacity-min vid" id="home">
  <div>
      <video autoplay muted loop id="myVideo" class="video">
          <source src="{% static 'videos/john2.mp4' %}" type="video/mp4">
      </video>
  </div>
  <div class="w3-display-middle" style="white-space:nowrap;">
      <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity logo w3-hide-small">
          &nbsp;&nbsp;JOHN <img class="w3-circle w3-image w3-border" src="{% static 'images/profile2.jpg' %}" height=100 width=100 alt="JT"> TUCKER
      </span>
          <img class=" w3-hide-large w3-hide-medium w3-circle w3-image w3-border" src="{% static 'images/profile2.jpg' %}" height=100 width=100 alt="JT">
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">ABOUT ME</h3>
  <p class="w3-center"><em>Engineer | Curious Mind | Student</em></p>
  <p>
    When someone tells you that they hate to be bad at things, what do you imagine?
  </p>
  <p>
    I imagine hundreds of hours of hard work. Pushing through book after book to learn to code. Running thousands of miles in training.
    Patiently rehearsing strokes of a pen, a pencil, an airbrush. Late nights and early mornings. Time sacrificed in the persuit of perfection
    that may never come.
  </p>
  <p>
    I imagine a person stuck without a solution, simmering for a little idea to march towards a breakthrough.
  </p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <img src="{% static 'images/profile.jpg' %}" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me" width="500" height="333">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-padding-large">
      <p>I've never been the type of person who thought it acceptable to stop progressing at anything worth doing.
          Because of my drive to be continously learning, I've managed to teach myself to excel at many things. This
          website is a perfect example; composed in Django, it uses a mixture of class-based generic views, the admin
          interface, 3rd party packages, custom code, the REST api framework, and more to demonstrate that I can learn
          complex systems and put them together into a finished project. The articles below are editable by a user with
          appropriate permissions, the admin is accessable to a superuser. The front page itself is a single page app 
          which interfaces with a REST api through javascript.
      </p>
      <p>
        Please explore some of the things I've created, and keep in mind that the type of person who trains 400 hours a 
        year to run 100 mile races, or learns to draw just to spend 300 hours meticulously hand painting a motorcycle; that person
        takes the soft skills which enables them to succeed to work with them every day. They're not just qualified to do
        the job you're hiring for, they're qualified for the job that you didn't know you were going to need.
      </p>
    </div>
  </div>
  <p class="w3-large w3-center w3-padding-16">Some things I'm good at:</p>
  <p class="w3-wide"><i class="fas fa-chalkboard-teacher"></i>Problem Solving</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">90%</div>
  </div>
  <p class="w3-wide"><i class="fab fa-python"></i>Python / Django</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:85%">85%</div>
  </div>
  <p class="w3-wide"><i class="fas fa-robot"></i>Machine Learning</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
  </div>
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">BSME</span><br>
    Portland State
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">REST APIs</span><br>
    for Django
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">ROCKET ENGINE</span><br>
    Designer
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">TEAM</span><br>
    Player
  </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">PORTFOLIO</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">
  <h3 class="w3-center">PROGRAMMING WORK</h3>
  <p class="w3-center"><em>The stuff that should pique your intrest.</em></p><br>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="w3-center w3-cell-row">
      {% for article in programming_articles %}
      <div class="w3-quarter w3-display-container w3-cell w3-dark-grey" style="overflow:hidden;height:150px">
        <img src="{{ article.images.all.0.image.url }}" style="width:100%" onclick="onClick(this)" class="w3-opacity w3-display-middle w3-hover-opacity-off" id="{{ article.id }}" alt="{{ article.images.all.0.title }}">
        <div class="w3-display-topleft" style="white-space:nowrap;">
            <span class="w3-center w3-padding-small w3-dark-grey w3-medium w3-animate-opacity">
                {{ article.title }}
            </span>
        </div>
      </div>
        {% if forloop.counter|divisibleby:4 %}
  </div>
  <div class="w3-center w3-cell-row">
      {% endif %}
    {% endfor %}
  </div>
  <div class="w3-padding-64">
    <h3 class="w3-center">ARTWORK</h3>
    <p class="w3-center"><em>My creative side is important.</em></p><br>

    <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
    <div class="w3-center w3-cell-row">
      {% for article in art_articles %}
      <div class="w3-quarter w3-display-container w3-cell w3-dark-grey" style="overflow:hidden;height:150px">
        <img src="{{ article.images.all.0.image.url }}" style="width:100%" onclick="onClick(this)" class="w3-opacity w3-display-middle w3-hover-opacity-off" id="{{ article.id }}" alt="{{ article.images.all.0.title }}">
        <div class="w3-display-topleft" style="white-space:nowrap;">
            <span class="w3-center w3-padding-small w3-dark-grey w3-medium w3-animate-opacity">
                {{ article.title }}
            </span>
        </div>
      </div>
        {% if forloop.counter|divisibleby:4 %}
    </div>
    <div class="w3-center w3-cell-row">
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="w3-padding-64">
      <h3 class="w3-center">JOBS</h3>
      <p class="w3-center"><em>From building rockets to testing space equipment.</em></p><br>
  
      <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
      <div class="w3-center w3-cell-row">
          {% for article in job_articles %}
          <div class="w3-quarter w3-display-container w3-cell w3-dark-grey" style="overflow:hidden;height:150px">
            <img src="{{ article.images.all.0.image.url }}" style="width:100%" onclick="onClick(this)" class="w3-opacity w3-display-middle w3-hover-opacity-off" id="{{ article.id }}" alt="{{ article.images.all.0.title }}">
            <div class="w3-display-topleft" style="white-space:nowrap;">
                <span class="w3-center w3-padding-small w3-dark-grey w3-medium w3-animate-opacity">
                    {{ article.title }}
                </span>
            </div>
          </div>
            {% if forloop.counter|divisibleby:4 %}
      </div>
      <div class="w3-center w3-cell-row">
          {% endif %}
        {% endfor %}
      </div>
    </div>
</div>

<!-- Modal for articles on click-->
<div id="modal01" class="w3-modal w3-black w3-animate-opacity" style="padding-top: 20px">
  <span class="w3-button w3-large w3-black w3-display-topright" style="z-index:1000" title="Close Modal Image" onclick="getElementById('modal01').style.display='none'"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent">
    <h3 id="caption" class="w3-opacity"></h3>
    <div id="modalcont"></div>
    <div class="w3-opacity w3-large w3-left-align"><p id="articlebody"></p><a id="seemore" href="#" target="_blank"></a></div>
  </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span>
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64" id="contact">
  <h3 class="w3-center">HOW TO CONTACT ME</h3>
  <p class="w3-center"><em>I can't wait to meet your team!</em></p>

  <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      <img src="{% static 'images/profile2.jpg' %}" class="w3-image w3-round" style="width:100%">
    </div>
    <div class="w3-col m8 w3-panel">
      <div class="w3-large w3-margin-bottom">
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Portland, Oregon US<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: 503 929 4508<br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: hire@johntucker.me<br>
      </div>
      <p>Feel free to contact me, or leave me a note:</p>
      <form method="post">
          {% csrf_token %}  
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
          <div class="w3-half">
            {{ contact_form.name }}<!--<input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">-->
          </div>
          <div class="w3-half">
              {{ contact_form.email }}<!--<input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">-->
          </div>
        </div>
        {{ contact_form.message }}<!--<input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">-->
        <button class="w3-button w3-black w3-right w3-section" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </form>
      
            
          
    
      {% if messages %}
      {% for message in messages %}
      <div id="message">
        <div class="alert alert-success alert-dismissible" data-autohide="false">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      </div>
      {% endfor %}
      {% endif %}

      
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <a href="https://www.facebook.com/theearthvolta" class="w3-text-light-grey"><i class="fab fa-facebook-f w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/in/john-tucker/" class="w3-text-light-grey"><i class="fab fa-linkedin w3-hover-opacity"></i></a>
    <a href="https://github.com/jftucker/" class="w3-text-light-grey"><i class="fab fa-github w3-hover-opacity"></i></a>
    <a href="https://bitbucket.org/jftucker/" class="w3-text-light-grey"><i class="fab fa-bitbucket w3-hover-opacity"></i></a>
  </div>
</footer>
 
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  var articlebodyText = document.getElementById("articlebody");
  var url = "{% url 'API_list' %}" + element.id + "/";
  $.get(url, function(data, status){
    captionText.innerHTML = data.title;
    articlebodyText.innerHTML = data.body;
    seemore.innerHTML = data.link_text;
    $("#seemore").attr("href", data.link);

    var i;
    var text;
    text = "<div id=\"demo\" class=\"carousel slide\" data-ride=\"carousel\"><!-- Indicators --><ul class=\"carousel-indicators\">";
    text += "<li data-target=\"#demo\" data-slide-to=\"0\" class=\"active\"></li>";
    for (i = 1; i < Object.keys(data.images).length; i++) { 
      text += "<li data-target=\"#demo\" data-slide-to=\"" + i + "\"></li>";
    };
    text += "</ul><div class=\"carousel-inner\"><div class=\"carousel-item active\"><img src=\"" + data.images[0] + "\" style=\"w3-image\"></div>";
    for (i = 1; i < Object.keys(data.images).length; i++) { 
      text += "<div class=\"carousel-item\"><img src=\"" + data.images[i] + "\" style=\"w3-image\"></div>";
    };
    text += "</div><a class=\"carousel-control-prev\" href=\"#demo\" data-slide=\"prev\"><span class=\"carousel-control-prev-icon\"></span></a><a class=\"carousel-control-next\" href=\"#demo\" data-slide=\"next\"><span class=\"carousel-control-next-icon\"></span></a></div>";
    $("#modalcont").html(text);
  });
}


// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-dark-grey";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-dark-grey", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>
</html>